<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Space</h1>
        <p>Your contact email will be shared with registered users to apply to your spaces</p>

        <form action="/spaces/add" method="POST">

            {{#if errors.title}}
            <div class="error">
                <p>{{errors.title}}</p>
            </div>
            {{/if}}
            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="input-box"
                    placeholder="eg. Small Wordpress website, React developer" maxlength="100" value={{title}}>
            </div>

            {{#if errors.technologies}}
            <div class="error">
                <p>{{errors.technologies}}</p>
            </div>
            {{/if}}
            <div class="input-group">
                <label for="technologies">Technologies Needed</label>
                <input type="text" name="technologies" id="technologies" class="input-box"
                    placeholder="eg. javascript, react, PHP" maxlength="100" value={{technologies}}>
            </div>

            {{#if errors.budget}}
            <div class="error">
                <p>{{errors.budget}}</p>
            </div>
            {{/if}}
            <div class="input-group">
                <label for="budget">Budget (Leave blank for unknown)</label>
                <input type="text" name="budget" id="budget" class="input-box" placeholder="eg. 500, 5000, 10000"
                    value={{budget}}>
            </div>

            {{#if errors.description}}
            <div class="error">
                <p>{{errors.description}}</p>
            </div>
            {{/if}}
            <div class="input-group">
                <label for="description">Space Description</label>
                <textarea name="description" id="description" class="input-box"
                    placeholder="Describe the details of the space" rows="10">{{description}}</textarea>
            </div>

            {{#if errors.email}}
            <div class="error">
                <p>{{errors.email}}</p>
            </div>
            {{/if}}
            <div class="input-group">
                <label for="email">Contact Email</label>
                <input type="email" name="contact_email" id="contactemail" class="input-box"
                    placeholder="Enter an email" value={{contact_email}}>
            </div>
            <input type="submit" value="Add Space" class="btn btn-reverse">
        </form>
    </div>
</section>