<section id="spaces" class="container">
    {{#if term}}
    <h2>Results for: {{term}}</h2>
    {{else}}
    <h1>All Spaces</h1>
    {{/if}}

    {{#each spaces}}
    <div class="space">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <ul>
            <li>Budget: {{budget}}</li>
            <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
        </ul>
        <div class="tech">
            <small>Technologies Needed: <span>{{technologies}}</span></small>
        </div>
    </div>
    {{else}}
    <p>No space available</p>
    {{/each}}

</section>